/*сброс настроек*/
/* .list {
  list-style: none;
} */
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
/* .link {
  text-decoration: none;
  color: inherit;
} */
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* root  */
:root {
  --link-color: #000000;
  --prim-text-color: #757575;
  --titl-text-color: #212121;
  --title-background-color: #2f303a;
  --hover-color: #ffffff;
  --focus-color: #2196f3;
  --foter-meil-color: rgba(255, 255, 255, 0.6);
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 94px;
  padding-bottom: 94px; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.body {
  font-family: roboto, sans-serif;
  background-color: var(--hover-color);
  color: var(--prim-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* верхня лінія */
.page-heder {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.main-nav.item:last-child {
  margin-right: 0px;
}

.item {
  display: flex;
  margin-right: 50px;
  justify-content: space-between;
  align-items: center;
}
.item:last-child {
  margin-right: 0px;
}

.logo {
  color: var(--focus-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  margin-right: 90px;
  color: var(--link-color);
}
/* навігація по сторінкам */

.pagination {
  font-weight: 500;
  margin-right: 0px;
}
.link.current {
  color: var(--focus-color);
}

.link-current {
  color: var(--focus-color);
}
.link {
  color: var(--titl-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;
}
.link:hover {
  color: var(--focus-color);
}
.link:focus {
  color: var(--focus-color);
}

/* <!-- meil and tel --> */
.contact {
  /* margin-right: 331px; */
}
.mail {
  margin-right: 50px;
}
.mail-tel a {
  color: var(--prim-text-color);
  font-weight: 500;
  text-decoration: none;
}
.mail:hover {
  color: var(--focus-color);
}
.mail:focus {
  color: var(--focus-color);
}
.tel:hover {
  color: var(--focus-color);
}
.tel:focus {
  color: var(--focus-color);
}
/* головний напис */
.heading {
  background-color: var(--title-background-color);
  text-align: center;
  width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.title {
  color: var(--hover-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  /* text-align: center; */
  letter-spacing: 0.06em;
  width: 696px;
  text-transform: uppercase;
  margin: 0 auto;
}
.button {
  cursor: pointer;
  color: var(--hover-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 40px;
  border-radius: 4px;
}
/* наші переваги */

.cection {
  padding-top: 94px;
  padding-bottom: 94px;
}
.invisible {
  visibility: hidden;
}
.benefits {
  display: flex;
}
.benefits-element {
  width: 270px;
  margin-right: 30px;
}
.benefits-element:last-child {
  margin-right: 0px;
}
.subtitle {
  color: var(--titl-text-color);
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.work-subtitle {
  color: var(--titl-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.text {
  line-height: 1.71;
}

/* наша робота */
.work-section {
  padding-top: 0px;
  /* padding-left: 215px; */
}
.work {
  display: flex;
}
.work-img {
  margin-right: 30px;
}
/* наша команда */
.cection-team {
  background-color: #f5f4fa;
  width: 1600px;
}
.team {
  display: flex;
  padding-left: 215px;
  /* justify-content: center; */
}

.team-img {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  margin-right: 30px;
}
.team-img:last-child {
  margin-right: 0px;
}

.staff {
  color: var(--titl-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.job-title {
  font-size: 16px;
  line-height: 1.2;
}

/* footer */
address {
  font-style: normal;
}
.footer {
  width: 1600px;
  background-color: var(--title-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 215px;
}
.footer-studio {
  color: var(--hover-color);
  letter-spacing: 0.03em;
}
.footer-str {
  line-height: 1.71;
  color: var(--hover-color);
  padding-top: 20px;
  margin: 0px;
}
.footer-mail {
  line-height: 1.71;
  color: var(--foter-meil-color);
  text-decoration: none;
  padding-top: 9px;
}
.tel-footer {
  line-height: 1.71px;
  color: var(--foter-meil-color);
  text-decoration: none;
  padding-top: 9px;
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--focus-color);
}
.tel-footer:hover,
.tel-foooter:focus {
  color: var(--focus-color);
}

/* сторінка-2 */

/* <!-- navigation button--> */
.filter-btn {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  margin-bottom: 50px;
}
.examples-btn {
}
.btn {
  background-color: rgba(245, 244, 250, 1);
  /* var(--titl-text-color); */
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-left: 8px;
  border-radius: 4px;
  border-color: #f5f4fa;
}
.btn:hover,
.btn:focus {
  color: var(--hover-color);
  background-color: var(--focus-color);
}
.btn {
  cursor: pointer;
}
/* examples of work */
.examples-page {
  display: flex;
  flex-wrap: wrap;
}
.poster {
  margin-bottom: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.poster:nth-child(3n) {
  margin-right: 0px;
}
.poster:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}
.portfolio-text-style {
  margin: 4px;
  padding: 24 20;
}
.portfolio-subtitle {
  color: var(--titl-text-color);
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
}
